<div class="stat-card skeleton-card border p-4 rounded-3 overflow-hidden position-relative bg-white">
  <div class="deco-blob position-absolute top-0 end-0 z-1"></div>
  
  <div class="card-content z-2 position-relative">
    <div class="icon-placeholder skeleton-pulse rounded-2"></div>

    <div class="mt-4">
      <div class="skeleton-line skeleton-pulse mb-2" style="width: 40%"></div>
      
      <div class="d-flex align-items-end gap-2 mt-2">
        <div class="skeleton-line skeleton-pulse" style="width: 60%; height: 32px;"></div>
        <div class="skeleton-badge skeleton-pulse"></div>
      </div>
    </div>
  </div>
</div>