<div class="stat-card skeleton border p-4 rounded-3 overflow-hidden position-relative bg-white">
    <div class="deco-blob skeleton-shimmer position-absolute top-0 end-0"></div>
    
    <div class="card-content position-relative">
        <div class="icon-box skeleton-shimmer rounded-2"></div>

        <div class="mt-4">
            <div class="skeleton-line skeleton-shimmer mb-2" style="width: 40%"></div>
            
            <div class="d-flex align-items-end gap-2 mt-2">
                <div class="skeleton-value skeleton-shimmer" style="width: 60px; height: 32px;"></div>
                
                <div class="skeleton-badge skeleton-shimmer rounded-pill" style="width: 50px; height: 20px;"></div>
                
                <div class="skeleton-line skeleton-shimmer" style="width: 60px; height: 10px;"></div>
            </div>
        </div>
    </div>
</div>