.widget-card {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #edf2f7;
    height: 100%;

    .card-header {
        background: transparent;
        border-bottom: 1px solid #f1f4f8;
        padding: 1.25rem 1.5rem;

    }

    .text-blue {
        color: #11438F;
    }
}