.sidebar {
    .nav {
        gap: 20px;
        padding: 1.5rem;

        .nav-link {
            padding: 12px 16px;
            transition: all 0.2s ease-in-out;
            border-radius: 8px;

            mat-icon {
                font-size: 22px;
                width: 22px;
                height: 22px;
            }

            &:hover {
                background-color: #f8f9fa;
                color: #0d3b6e !important;
            }

            &.active-link {
                background-color: #eef4fb;
                color: #0d3b6e !important;
                border-left: 4px solid #0d3b6e;
                padding-left: 12px;

                mat-icon {
                    font-variation-settings: 'FILL' 1;
                }

                .label {
                    font-weight: 600;
                    font-size: 13px;
                }
            }
        }

    }

    .user-mobile-footer {
        background-color: #f8f9fa;
        width: stretch;

        .text-blue {
            color: #0d3b6e;
        }

        .extra-small {
            font-size: 0.75rem;
        }

        .bg-bluish {
            background-color: #dae4ee;

            mat-icon {
                font-size: 20px;
                width: 20px;
                height: 20px;
            }
        }
    }
}