<div class="dashboard container-fluid">
    <h4 class="fw-bold mb-0">Clinical Dashboard</h4>
    <p class="mb-3 text text-muted">Monitor key clinical metrics and performance indicators</p>


    <div class="row g-4">
        @if (dashboardService.isLoading()) {
        @for (i of [1,2,3,4]; track i) {
        <div class="col-12 col-md-6 col-lg-3">
            <app-stat-card-skeleton />
        </div>
        }
        } @else {
        @for (stat of statsArray(); track stat.label) {
        <div class="col-12 col-md-6 col-lg-3">
            <app-stat-card [label]="stat.label" [value]="stat.count" [icon]="stat.icon" [trendValue]="stat.trendValue"
                [trendType]="stat.trendType" [trendDirection]="stat.trendDirection" [comparison]="stat.trendComparison" [theme]="stat.theme" />
        </div>
        }
        }
    </div>

    <div class="row g-4 mt-2">
        <div class="col-12 col-lg-4">
            @if (dashboardService.isLoading()) {
            <app-appointment-breakdown-skeleton />
            } @else {
            @if (dashboardService.adminData()?.breakdownToday; as breakdown) {
            <app-appointment-breakdown [data]="breakdown" />
            }
            }

        </div>

        <div class="col-12 col-lg-8">
            @if (dashboardService.isLoading()) {
            <app-top-doctors-skeleton />
            } @else {
            @if (dashboardService.adminData()?.topDoctorsToday; as doctors) {
            <app-top-doctors [doctors]="doctors" />
            }
            }
        </div>
    </div>

    <div class="row g-4 mt-2">
        <div class="col-12">
            @if (dashboardService.isLoading()) {
            <app-recent-registrations-skeleton />
            } @else {
            @if (dashboardService.adminData()?.recentRegistrations; as recentRegs) {
            <app-recent-registrations [patients]="recentRegs" />
            }
            }
        </div>
    </div>

</div>