<div class="layout-container" [class.sidebar-collapsed]="layoutService.isCollapsed()"
    [class.mobile-sidebar-open]="layoutService.isMobileOpen()">
    <app-header></app-header>

    <div class="main-wrapper d-flex">
        @if (layoutService.isMobileOpen()) {
        <div class="sidebar-backdrop" (click)="layoutService.closeMobile()"></div>
        }
        <app-sidebar></app-sidebar>

        <div class="content flex-grow-1 px-2 py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>